<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'profiles:create_client_profile' %}">Create Client Profile</a></li>
        <li><a href="{% url 'profiles:client_list' %}">View Client List</a></li>
        <li><a href="{% url 'profiles:create_doctor_profile' %}">Create Doctor Profile</a></li>
        <li><a href="{% url 'profiles:doctor_list' %}">View Doctor List</a></li>
        <li><a href="{% url 'profiles:create_medication' %}">Create Medication</a></li>
        <li><a href="{% url 'profiles:medication_list' %}">View Medication List</a></li>
        <li><a href="{% url 'profiles:create_prescription' %}">Create Prescription</a></li>
        <li><a href="{% url 'accounts:view' %}">My Account</a></li>
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
      {% endif %}
    </ul>
    {% block content %}{% endblock %}
  </body>
</html>
