{% extends 'layout.html' %}

{% block title %}Client List{% endblock %}

{% block content %}
  <div class="client-grid">
    <ul>
      {% for client in clients %}
        <li>
          <a href="{% url 'profiles:client_profile' pk=client.id %}">
            <div class="card" style="background-image: url({{ client.portrait.url }});">
              <div class="card-content">
                <h2 class="card-title">{{ client }}</h2>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
