{% extends 'layout.html' %}

{% block title %}Client Profile{% endblock %}

{% block content %}
  <style>
    img {
      width: 25%;
    }
  </style>
  <h1>Client Profile</h1>
  <img src="{{ client.portrait.url }}">
  <h2>{{ client.first_name }} {{ client.middle_name }} {{ client.last_name }}</h2>
  {% if client.dob %}
  <h3>Date of Birth</h3>
  <p>{{ client.dob }}</p>
  {% endif %}
  {% if client.admission_date %}
  <h3>Admission Date</h3>
  <p>{{ client.admission_date }}</p>
  {% endif %}
  {% if client.address %}
  <h3>Address</h3>
  <p>{{ client.address }}</p>
  {% endif %}
  {% if doctors %}
  <h3>Doctors</h3>
    {% for doctor in doctors %}
      <p><a href="{% url 'profiles:doctor_profile' pk=doctor.id %}">{{ doctor }}—{{ doctor.specialty }}</a></p>
    {% endfor %}
  {% endif %}
  {% if prescriptions %}
  <h3>Medications</h3>
    {% for prescription in prescriptions %}
      <p><a href="{% url 'profiles:prescription_profile' pk=prescription.id %}">{{ prescription.medication }}</a></p>
    {% endfor %}
  {% else %}
  <p><a href="{% url 'profiles:create_prescription' %}">Create Prescription</a></p>
  {% endif %}
  <p><a href="{% url 'profiles:edit_client_profile' pk=client.id %}">Edit Profile</a></p>
  <p><a href="{% url 'profiles:remove_client_profile' pk=client.id %}">Remove Profile</a></p>
{% endblock %}
